# PROJETO ANAC
## ETAPAS
### 1) PREPARAR UM AMBIENTE VIRTUAL (VENV)
### 2) INSTALAR, ATUALIZAR OU PROCURAR VERSÕES DAS BIBLIOTECAS QUE SERÃO UTILIZADAS
### 3) IMPORTAR DADOS (JSON, CSV, ETC) COMO DATAFRAME
### 4) TRATAR OS DADOS, ISTO É, SELECIONAR APENAS OS ATRIBUTOS QUE SERÃO UTILIZADOS
### 5) TRATAR OS HEADERS DE ATRIBUTOS, ISTO É, TIRAR ACENTOS E COLOCAR LETRAS COMO MINÚSCULAS
### 6) TRATAR AS COLUNAS DE LATITUDE E LONGITUDE VISANDO ELABORAÇÃO DE UM GEODATAFRAME COM COLUNA GEOMETRIA PARA PROJEÇÃO EM MAPA
### 7) DEFINIR O BANCO DE DADOS, CRIAR UM ESQUEMA E CRIAR TABELA
### 8) ENVIAR DADOS PARA O BD COM CRIAÇÃO DE UM DELETE DE TABELA, MANTENDO O BANCO DE DADOS SEMPRE ATUALIZADO
### 9) CRIAÇÃO DE GEOMETRIA, CONSEQUENTEMENTE DE UM GEODATAFRAME VÁLIDO
### 10) VERIFICAR E REMOVER LINHAS COM GEOMETRIA NaN
### 11) ENVIAR ESTE NOVO DATAFRAME PARA O BANCO DE DADOS UTILIZANDO SQLALCHEMY
### 12) CRIAR UM MAPA UTILIZANDO A BIBLIOTECA FOLIUM E PROJETAR OS PONTOS DE ACIDENTES
### 13) REFATORAR O CÓDIGO
### 14) SALVAR O CÓDIGO COMO ARQUIVO .PY, NÃO COMO JUPYTER NOTEBOOK

## PASSO 1 - PREPARAR, ATIVAR E DESATIVAR UMA VENV

In [ ]:
# CRIAÇÃO DE VENV
# python -m venv projeto01

# ATIVAÇÃO DE VENV
# venv\Scripts\activate

# DESATIVAÇÃO DE VENV
# deactivate

## PASSO 2 - INSTALAÇÃO DE BIBLIOTECAS NA VENV

In [2]:
# INSTALAÇÕES  DE BIBLIOTECAS QUE SERÃO UTILIZADAS
'''
pip install psycopg2    # Conexao com banco de dados postgree
pip install openpyxl    # Trabalhar com arquivo Excel
pip install matplotlib  # Elaboração de gráficos
pip install pandas      # manipulacao de dataframes (df)
pip install geopandas   # Manipulação de Dataframes com Geometria (gdf)
pip install folium      # Projeção de Geodataframes em Mapas
pip install shapely     # Biblioteca para tratamento de geometria
'''

'\npip install psycopg2    # Conexao com banco de dados postgree\npip install openpyxl    # Trabalhar com arquivo Excel\npip install matplotlib  # Elaboração de gráficos\npip install pandas      # manipulacao de dataframes (df)\npip install geopandas   # Manipulação de Dataframes com Geometria (gdf)\npip install folium      # Projeção de Geodataframes em Mapas\npip install shapely     # Biblioteca para tratamento de geometria\n'

## PASSO 3 - IMPORTAR DADOS (JSON, CSV, ETC) COMO DATAFRAME

In [3]:
# BIBLIOTECA CHARDET --> "https://chardet.readthedocs.io/en/latest/usage.html"
# USADA PARA DESCOBRIR CODIFICAÇÃO DE ARQUIVOS 

import pandas as pd
import codecs
from chardet.universaldetector import UniversalDetector

pd.set_option('display.max_columns', None)
caminho_do_arquivo = r"C:\Users\phmcasimiro\Documents\Cursos_Projetos\EngenhariaDadosPy\dataset_Postgre\Origem_dados\V_OCORRENCIA_AMPLA.json"
detector = UniversalDetector()

with codecs.open(caminho_do_arquivo, 'rb') as arquivo: #rb esta lendo como binario em forma de bits no lugar de texto ou outra coisa 
    for linha in arquivo:
        detector.feed(linha)
        if detector.done:
            break
detector.close()
encoding_detectado = detector.result['encoding']

df_json_automatico = pd.read_json(caminho_do_arquivo, encoding=encoding_detectado)
df_json_automatico.head(3)

,Numero_da_Ocorrencia,Numero_da_Ficha,Operador_Padronizado,Classificacao_da_Ocorrência,Data_da_Ocorrencia,Hora_da_Ocorrência,Municipio,UF,Regiao,Descricao_do_Tipo,ICAO,Latitude,Longitude,Tipo_de_Aerodromo,Historico,Matricula,Categoria_da_Aeronave,Operador,Tipo_de_Ocorrencia,Fase_da_Operacao,Operacao,Danos_a_Aeronave,Aerodromo_de_Destino,Aerodromo_de_Origem,Lesoes_Fatais_Tripulantes,Lesoes_Fatais_Passageiros,Lesoes_Fatais_Terceiros,Lesoes_Graves_Tripulantes,Lesoes_Graves_Passageiros,Lesoes_Graves_Terceiros,Lesoes_Leves_Tripulantes,Lesoes_Leves_Passageiros,Lesoes_Leves_Terceiros,Ilesos_Tripulantes,Ilesos_Passageiros,Lesoes_Desconhecidas_Tripulantes,Lesoes_Desconhecidas_Passageiros,Lesoes_Desconhecidas_Terceiros,Modelo,CLS,Tipo_ICAO,PMD,Numero_de_Assentos,Nome_do_Fabricante,PSSO
0,7762,201803231711488,ICON TAXI AEREO LTDA E OUTRO,Incidente,2018-03-21,20:00:00,SÃO PAULO,SP,Sudeste,FALHA OU MAU FUNCIONAMENTO DE SISTEMA / COMPON...,None,"-23,6261","-46,6564",None,DURANTE O VOO O PILOTO SENTIU A AERONAVE COM P...,PRROS,TPX,ICON TAXI AEREO LTDA E OUTRO,SCF-NP,Pouso,Táxi Aéreo,Nenhum,SBSP,SDSC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,AW109SP,H2T,A109,3175.0,8.0,AGUSTA,verdadeiro
1,7759,201803161337187,EJ ESCOLA DE AERONAUTICA CIVIL LTDA,Acidente,2018-03-14,15:30:00,MONTES CLAROS,MG,Sudeste,COMBUSTÍVEL,Fora de Aeródromo,"-16,7861","-43,8817",-,QUANDO A AERONAVE ATINGIU 6 MILHAS AO SUL DO A...,PREJO,PRI,EJ ESCOLA DE AERONAUTICA LTDA,FUEL,Em rota,Voo de Instrução,Substancial,SBMK,SIMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,A152,L1P,C152,757.0,2.0,CESSNA AIRCRAFT,verdadeiro
2,7758,201802271904132,AEROTEX AVIACAO AGRICOLA LTDA.,Acidente,2018-01-26,12:20:00,INACIOLÂNDIA,GO,Centro-Oeste,EXCURSÃO DE PISTA,None,"-18,4572","-49,9842",None,A AERONAVE DECOLAVA DE UMA PISTA DE POUSO EVEN...,PTWZP,S11,AEROTEX AVIAÇÃO AGRÍCOLA LTDA.,RE,Decolagem,Operação Agrícola,Substancial,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,T188C,L1P,C188,1997.0,1.0,CESSNA AIRCRAFT,verdadeiro

## PASSO 4 - TRATAR OS DADOS SELECIONANDO APENAS OS ATRIBUTOS QUE SERÃO UTILIZADOS

In [4]:
# EXIBIR COLUNAS DO DATAFRAME ORIGINAL PARA PODER ESCOLHER
print(df_json_automatico.columns)

# LISTAR, ENTRE TODAS AS COLUNAS DO DATAFRAME, AQUELASQUE SERÃO UTILIZADAS EM UM NOVO DATAFRAME
colunas = ["Numero_da_Ocorrencia", "Classificacao_da_Ocorrência", "Data_da_Ocorrencia","Municipio","UF","Regiao","Nome_do_Fabricante","Latitude","Longitude"]

# CRIAR UM NOVO DATAFRAME QUE RECEBE AS COLUNAS SELECIONADAS DO DATAFRAME ORIGINAL
df1 = df_json_automatico[colunas].copy()

# EXIBIR AS PRIMEIRAS COLUNAS SELECIONADAS
df1.head()

Index(['Numero_da_Ocorrencia', 'Numero_da_Ficha', 'Operador_Padronizado',
       'Classificacao_da_Ocorrência', 'Data_da_Ocorrencia',
       'Hora_da_Ocorrência', 'Municipio', 'UF', 'Regiao', 'Descricao_do_Tipo',
       'ICAO', 'Latitude', 'Longitude', 'Tipo_de_Aerodromo', 'Historico',
       'Matricula', 'Categoria_da_Aeronave', 'Operador', 'Tipo_de_Ocorrencia',
       'Fase_da_Operacao', 'Operacao', 'Danos_a_Aeronave',
       'Aerodromo_de_Destino', 'Aerodromo_de_Origem',
       'Lesoes_Fatais_Tripulantes', 'Lesoes_Fatais_Passageiros',
       'Lesoes_Fatais_Terceiros', 'Lesoes_Graves_Tripulantes',
       'Lesoes_Graves_Passageiros', 'Lesoes_Graves_Terceiros',
       'Lesoes_Leves_Tripulantes', 'Lesoes_Leves_Passageiros',
       'Lesoes_Leves_Terceiros', 'Ilesos_Tripulantes', 'Ilesos_Passageiros',
       'Lesoes_Desconhecidas_Tripulantes', 'Lesoes_Desconhecidas_Passageiros',
       'Lesoes_Desconhecidas_Terceiros', 'Modelo', 'CLS', 'Tipo_ICAO', 'PMD',
       'Numero_de_Assentos', 'Nome_do_Fabricante', 'PSSO'],
      dtype='object')

,Numero_da_Ocorrencia,Classificacao_da_Ocorrência,Data_da_Ocorrencia,Municipio,UF,Regiao,Nome_do_Fabricante,Latitude,Longitude
0,7762,Incidente,2018-03-21,SÃO PAULO,SP,Sudeste,AGUSTA,"-23,6261","-46,6564"
1,7759,Acidente,2018-03-14,MONTES CLAROS,MG,Sudeste,CESSNA AIRCRAFT,"-16,7861","-43,8817"
2,7758,Acidente,2018-01-26,INACIOLÂNDIA,GO,Centro-Oeste,CESSNA AIRCRAFT,"-18,4572","-49,9842"
3,7758,Acidente,2018-01-26,INACIOLÂNDIA,GO,Centro-Oeste,CESSNA AIRCRAFT,"-18,4572","-49,9842"
4,7757,Incidente Grave,2018-03-18,TORRES,RS,Sul,PIPER AIRCRAFT,"-29,4153","-49,8106"

## PASSO 5 - TRATAR OS HEADERS DE ATRIBUTOS, ISTO É, TIRAR ACENTOS E COLOCAR LETRAS COMO MINÚSCULAS

In [5]:
# RENOMEAR AS COLUNAS APAGANDO ACENTOS E RETIRANDO ESPAÇOS
df1.rename(
    columns={
        'Numero_da_Ocorrencia':'numOcorrencia',
        'Classificacao_da_Ocorrência':'classifOcorrencia',
        'Data_da_Ocorrencia':'dt_Ocorrencia',
        'Municipio':'nm_mun',
        'UF':'uf',
        'Regiao':'regiao',
        'Nome_do_Fabricante':'nm_Fabricante',
        'Latitude':'lat',
        'Longitude':'long'
        },
    inplace=True
    )

# EXIBIR O DATAFRAME FILTRADO
df1

,numOcorrencia,classifOcorrencia,dt_Ocorrencia,nm_mun,uf,regiao,nm_Fabricante,lat,long
0,7762,Incidente,2018-03-21,SÃO PAULO,SP,Sudeste,AGUSTA,"-23,6261","-46,6564"
1,7759,Acidente,2018-03-14,MONTES CLAROS,MG,Sudeste,CESSNA AIRCRAFT,"-16,7861","-43,8817"
2,7758,Acidente,2018-01-26,INACIOLÂNDIA,GO,Centro-Oeste,CESSNA AIRCRAFT,"-18,4572","-49,9842"
3,7758,Acidente,2018-01-26,INACIOLÂNDIA,GO,Centro-Oeste,CESSNA AIRCRAFT,"-18,4572","-49,9842"
4,7757,Incidente Grave,2018-03-18,TORRES,RS,Sul,PIPER AIRCRAFT,"-29,4153","-49,8106"
...,...,...,...,...,...,...,...,...,...
13006,36306,Incidente Grave,2023-02-08,VITÓRIA,ES,Sudeste,EMBRAER,"-20,1529","-40,1711"
13007,36346,Acidente,2023-02-09,VARGEM ALTA,ES,Sudeste,ROBINSON HELICOPTER,"-20,385","-40,5839"
13008,36348,Incidente Grave,2023-02-12,SANTA VITÓRIA DO PALMAR,RS,Sul,CESSNA AIRCRAFT,"-33,1642","-53,1812"
13009,36349,Acidente,2023-02-08,ERECHIM,RS,Sul,PIPER AIRCRAFT,"-27,3948","-52,1715"
13010,36486,Acidente,2023-02-21,NOVO ARIPUANÃ,AM,Norte,FLYER INDUSTRIA AERONAUTICA LTDA,"-5,312","-59,3235"

## PASSO 6 - TRATAR AS COLUNAS DE LATITUDE E LONGITUDE VISANDO ELABORAÇÃO DE UM GEODATAFRAME COM COLUNA GEOMETRIA PARA PROJEÇÃO EM MAPA

In [6]:
# IMPORTAR BIBLIOTECAS QUE SERÃO USADAS NESSA ETAPA
import pandas as pd
import numpy as np

# SUBSTITUIR A VÍRGULA POR PONTO
df1['lat'] = df1['lat'].astype(str).str.replace(',', '.')
df1['long'] = df1['long'].astype(str).str.replace(',', '.')

# IDENTIFICAR E SUBSTITUIR STRINGS "NONE" POR VALORES "NAN" (NOT A NUMBER)
df1['lat'] = df1['lat'].replace('None', np.nan)
df1['long'] = df1['long'].replace('None', np.nan)

# CONVERTER AS COLUNAS LAT/LONG PARA O TIPO NUMÉRICO FLOAT
# É NECESSÁRIO CONVERTER VÍRGULAS EM PONTOS ANTES DE REALIZAR ESSA OPERAÇÃO
# ABAIXO ESTÁ UMA FORMA DE FAZER A CONVERSÃO DE "," PARA "." E TAXAR COMO FLOAT
if df1['lat'].dtype == 'object':
    df1['lat'] = df1['lat'].str.replace(',', '.').astype(float)

if df1['long'].dtype == 'object':
    df1['long'] = df1['long'].str.replace(',', '.').astype(float)

# VERIFICAR OS TIPOS DE DADOS DAS COLUNAS 
print(df1.dtypes)

numOcorrencia          int64
classifOcorrencia     object
dt_Ocorrencia         object
nm_mun                object
uf                    object
regiao                object
nm_Fabricante         object
lat                  float64
long                 float64
dtype: object

## PASSO 7 - DEFINIR O BANCO DE DADOS, CRIAR UM ESQUEMA E CRIAR TABELA

In [7]:
# ACESSAR O BD (PGsql) POR MEIO DE UM SGDB (DBeaver)
# CRIAR UM BANCO DE DADOS (GISDB)
# CRIAR UM ESQUEMA (DESENVOLVIMENTO)
# CRIAR TABELA COM SCRIPT SQL ABAIXO POR MEIO DO SGDB (DBeaver) NO BD (PGsql)
# BASTA COPIAR ESTA QUERY, COLAR E EXECUTAR
# APESAR DE PODER SER FEITO ATRAVÉS DO VSCODE/PYTHON, É MELHOR QUE AS TABELAS SEJAM CRIADAS DIRETAMENTE POR MEIO DO SGBD (DBEAVER/PGSQL)

'''
CREATE TABLE IF NOT EXISTS gisdb.desenvolvimento.dataset_anac_geo
(
        numOcorrencia int,
        classifOcorrencia VARCHAR(50),
        dt_Ocorrencia DATE,
        nm_mun VARCHAR(50),
        uf VARCHAR(30),
        regiao VARCHAR(30),
        nm_Fabricante VARCHAR(100),
        lat float(11),
        long float(11)
);

'''

'\nCREATE TABLE IF NOT EXISTS gisdb.desenvolvimento.dataset_anac_geo\n(\n        numOcorrencia int,\n        classifOcorrencia VARCHAR(50),\n        dt_Ocorrencia DATE,\n        nm_mun VARCHAR(50),\n        uf VARCHAR(30),\n        regiao VARCHAR(30),\n        nm_Fabricante VARCHAR(100),\n        lat float(11),\n        long float(11)\n);\n\n'

## PASSO 8 - ENVIAR DADOS PARA O BD. 

### OBS: CRIAR UM DELETE DE TABELA, MANTENDO O BANCO DE DADOS SEMPRE ATUALIZADO

In [ ]:
import psycopg2

# PARÂMETROS DE CONEXÃO
dbname   = 'dbname'
user     = 'user'
password = 'password'
host     = 'host'
port     = 'port'

# CRIAR CONEXÃO
conexao = psycopg2.connect(dbname=dbname,
                        user=user,
                        password=password,
                        host=host,
                        port=port)

# CRIAR UM CURSOR PARA EXECUTAR TAREFAS NO BANCO
cursor = conexao.cursor()

# DELETAR CONTEÚDO DA TABELA ANTES DA NOVA CARGA
cursor.execute('delete from gisdb.desenvolvimento.dataset_anac_geo')

#CARGA DE DADOS
for indice,coluna_df1 in df1.iterrows():
    cursor.execute ("""
                INSERT INTO gisdb.desenvolvimento.dataset_anac_geo (numOcorrencia,classifOcorrencia,dt_Ocorrencia,nm_mun,uf,regiao,nm_Fabricante,lat,long) 
                VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)""",
                (coluna_df1["numOcorrencia"],coluna_df1["classifOcorrencia"],coluna_df1["dt_Ocorrencia"],coluna_df1["nm_mun"],coluna_df1["uf"],coluna_df1["regiao"],coluna_df1["nm_Fabricante"], coluna_df1["lat"],coluna_df1["long"])                   
                )
conexao.commit()
cursor.close()
conexao.close()

## PASSO 9 - CRIAÇÃO DE GEOMETRIA, CONSEQUENTEMENTE DE UM GEODATAFRAME VÁLIDO

In [ ]:
# IMPORTAR BIBLIOTECAS QUE TRABALHAM COM MAPAS E DADOS GEOGRÁFICOS
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt
import folium as folium

# A PARTIR DE UM DATAFRAME 'df1' COM COLUNAS 'lat' e 'long' TIPO FLOAT

# CRIAR UMA COLUNA GEOMETRIA/GEOMETRY (ORDEM INVERSA: LONGITUDE, LATITUDE)
geometry = [Point(xy) for xy in zip(df1['long'], df1['lat'])]

# CRIAR GEODATAFRAME
gdf = gpd.GeoDataFrame(df1, geometry=geometry, crs="EPSG:4326") # WGS 84 é um CRS comum para latitude/longitude

# Agora 'gdf' é um GeoDataFrame pronto para ser usado para projeções e outras operações espaciais.
print(gdf.head())
print(gdf.crs)

   numOcorrencia classifOcorrencia dt_Ocorrencia         nm_mun  uf  \
0           7762         Incidente    2018-03-21      SÃO PAULO  SP
1           7759          Acidente    2018-03-14  MONTES CLAROS  MG
2           7758          Acidente    2018-01-26   INACIOLÂNDIA  GO
3           7758          Acidente    2018-01-26   INACIOLÂNDIA  GO
4           7757   Incidente Grave    2018-03-18         TORRES  RS

         regiao    nm_Fabricante      lat     long                   geometry
0       Sudeste           AGUSTA -23.6261 -46.6564  POINT (-46.6564 -23.6261)
1       Sudeste  CESSNA AIRCRAFT -16.7861 -43.8817  POINT (-43.8817 -16.7861)
2  Centro-Oeste  CESSNA AIRCRAFT -18.4572 -49.9842  POINT (-49.9842 -18.4572)
3  Centro-Oeste  CESSNA AIRCRAFT -18.4572 -49.9842  POINT (-49.9842 -18.4572)
4           Sul   PIPER AIRCRAFT -29.4153 -49.8106  POINT (-49.8106 -29.4153)
EPSG:4326

## PASSO 10 - VERIFICAR E REMOVER LINHAS COM GEOMETRIA NaN

In [10]:
# CRIAR CÓPIA DO GDF
gdf_sem_nan = gdf.copy()

# FILTRAR GDF PARA QUE CONTENHA APENAS LINHAS EM QUE A COLUNA GEOMETRY NÃO TENHA VALORES NULOS
gdf_sem_nan = gdf_sem_nan[gdf_sem_nan.geometry.notna()]

# O TRECHO DE CÓDIGO ABAIXO ITERA SOBRE CADA LINHA DO GDF E REMOVE LINHAS EM QUE AS COORDENADAS (x, y para Points e centroid.x, centroid.y para outros) SÃO "NaN"
for index, acidentes in gdf_sem_nan.iterrows():
    if acidentes.geometry.geom_type == "Point":
        if pd.isna(acidentes.geometry.x) or pd.isna(acidentes.geometry.y):
            gdf_sem_nan.drop(index, inplace=True)
    else:
        if pd.isna(acidentes.geometry.centroid.x) or pd.isna(acidentes.geometry.centroid.y):
            gdf_sem_nan.drop(index, inplace=True)

# NESTE PONTO HÁ UMA DIFERENÇA DE QUANTIDADE DE LINHAS ENTRE "gdf" e "gdf_sem_nan" PORQUE O SEGUNDO ESTÁ FILTRADO COM LINHAS COMPLETAS (LAT,LONG, GEOMETRY) 

# ATRIBUIR O CONTEÚDO DO GDF LIMPO PARA O GDF ORIGINAL
gdf = gdf_sem_nan.copy()

## PASSO 11 - ENVIAR ESTE NOVO DATAFRAME PARA O BANCO DE DADOS UTILIZANDO SQLALCHEMY

## PASSO 12 - CRIAR UM MAPA UTILIZANDO A BIBLIOTECA FOLIUM E PROJETAR OS PONTOS DE ACIDENTES

In [11]:
import folium
import geopandas as gpd


# DEFINIR A LOCALIZAÇÃO INICIAL DO MAPA
initial_location = [-15.793889, -47.882778]  # EXEMPLO: BRASÍLIA

# CRIAR O MAPA CONFIGURANDO CARACTERÍSTICAS DO MAPA
acidentes_anac_map = folium.Map(
                                location=initial_location, 
                                zoom_start=10, 
                                control_scale=True, 
                                width="100%", height="100%"
                                )

# ADICIONAR BASEMAPS NO MAPA
folium.TileLayer('openstreetmap', attr='&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors').add_to(acidentes_anac_map)
folium.TileLayer('stamenterrain', attr='Stamen Terrain').add_to(acidentes_anac_map)
folium.TileLayer('cartodb positron', attr='&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://cartodb.com/attributions">CartoDB</a>').add_to(acidentes_anac_map)

# CRIAÇÃO DE UMA FEATURE GROUP (CONJUNTO DE PONTOS) PARA PROJEÇÃO COMO UMA ÚNICA CAMADA, EM VEZ DE UMA FEATURE POR PONTO
AcidentesAnac_group = folium.FeatureGroup("Acidentes Anac")

# ITERAÇÃO EM CADA LINHA DO GEODATAFRAME PARA ATRIBUIÇÃO DOS VALORES DE LONGITUDE/LATITUDE
# VERIFICA SE A GEOMETRIA É PONTO E BUSCA O VALOR DA LATITUDE E LONGITUDE NAS COLUNAS X E Y
# CASO NÃO SEJA PONTO, BUSCA O VALOR DA LATITUDE E LONGITUDE NO CENTROID
for index, acidentes in gdf.iterrows():
    try:
        if acidentes.geometry.geom_type == "Point":
            longitude, latitude = acidentes.geometry.x, acidentes.geometry.y
        else:
            longitude, latitude = acidentes.geometry.centroid.x, acidentes.geometry.centroid.y

        tipo_ocorrencia = acidentes["classifOcorrencia"]
        data_ocorrencia = acidentes['dt_Ocorrencia']
        fabricante = acidentes["nm_fabricante"] if "nm_fabricante" in acidentes else "Informação Indisponível"

        popup_html = f"Acidentes Anac: {tipo_ocorrencia}<br>Data da Ocorrência: {data_ocorrencia}<br>Fabricante: {fabricante}"

        folium.Marker(
                        [latitude, longitude],
                        icon=folium.Icon(color="red", icon="plane", prefix="fa"),
                        popup=folium.Popup(html=popup_html, max_width=450),
                        tooltip=tipo_ocorrencia,
                    ).add_to(AcidentesAnac_group)
    except AttributeError as e:
        print(f"Erro ao processar linha {index}: {e}")
        print(acidentes)

AcidentesAnac_group.add_to(acidentes_anac_map)
folium.LayerControl().add_to(acidentes_anac_map)
acidentes_anac_map.save("acidentes_anac_map.html")